In [1]:
import pandas as pd
import numpy as np

### Split by Year

In [2]:
df = pd.read_csv("D:\LLMTables\Sportset\sportset_combined.csv")

In [18]:
unique_years = df['year'].unique()

In [19]:
unique_years

array([2014, 2015, 2016, 2017, 2018, 2019], dtype=int64)

In [27]:
for year in unique_years:
    df_year = df[df['year'] == year]
    
    file_name = f"sportset_year_{year}_30.csv"
    sample = df_year.sample(30)
    sample.to_csv(file_name, index=False)

    print(f"CSV file created for year {year}: {file_name}")

CSV file created for year 2014: sportset_year_2014_30.csv
CSV file created for year 2015: sportset_year_2015_30.csv
CSV file created for year 2016: sportset_year_2016_30.csv
CSV file created for year 2017: sportset_year_2017_30.csv
CSV file created for year 2018: sportset_year_2018_30.csv
CSV file created for year 2019: sportset_year_2019_30.csv

In [28]:
test = pd.read_csv("D:\LLMTables\Tables\sportset_year_2014_30.csv")

In [29]:
test

,day,month,year,dayname,season,stadium,city,state,attendance,capacity,game_id,summary
0,1,December,2014,Monday,2014,Verizon Center,Washington,Washington,15200,20400,1198,The Washington Wizards ( 11 - 5 ) defeated the...
1,14,December,2014,Sunday,2014,Chesapeake Energy Arena,Oklahoma City,Oklahoma,18200,18200,1037,The Oklahoma City Thunder ( 11 - 13 ) defeated...
2,17,December,2014,Wednesday,2014,American Airlines Arena,Miami,Florida,19600,19600,340,The Utah Jazz ( 7 - 19 ) took down the Miami H...
3,23,December,2014,Tuesday,2014,Bankers Life Fieldhouse,Indianapolis,Indiana,17300,17900,752,The Indiana Pacers ( 10 - 19 ) defeated the Ne...
4,23,December,2014,Tuesday,2014,US Airways Center,Phoenix,Arizona,18100,18100,998,The Phoenix Suns ( 16 - 14 ) defeated the Dall...
5,30,December,2014,Tuesday,2014,EnergySolutions Arena,Salt Lake City,Utah,18900,18300,425,Minnesota 's woes continued Tueday when their ...
6,25,December,2014,Thursday,2014,American Airlines Arena,Miami,Florida,19800,19600,344,The Miami Heat ( 14 - 16 ) defeated the Clevel...
7,15,November,2014,Saturday,2014,Quicken Loans Arena,Cleveland,Ohio,0,19400,126,The Cleveland Cavaliers ( 5 - 3 ) defeated the...
8,7,November,2014,Friday,2014,Palace of Auburn Hills,Detroit,Michigan,16100,22100,823,The Bucks ( 2 - 4 ) got 18 points from rookie ...
9,23,December,2014,Tuesday,2014,Amway Center,Orlando,Florida,17500,18800,586,The Orlando Magic ( 11 - 20 ) defeated the Bos...
10,15,December,2014,Monday,2014,Moda Center,Portland,Oregon,19400,19400,1120,The Portland Trail Blazers ( 19 - 6 ) defeated...
11,23,November,2014,Sunday,2014,FedExForum,Memphis,Tennessee,18100,17800,254,The Memphis Grizzlies ( 12 - 2 ) defeated the ...
12,9,December,2014,Tuesday,2014,Smoothie King Center,New Orleans,Louisiana,13800,16900,787,The New Orleans Pelicans ( 10 - 10 ) defeated ...
13,7,November,2014,Friday,2014,TD Garden,Boston,Massachusetts,17100,18600,167,The Pacers ( 1 - 4 ) dropped their fourth stra...
14,7,November,2014,Friday,2014,US Airways Center,Phoenix,Arizona,15500,18100,988,The Sacramento Kings defeated the Phoenix Suns...
15,13,December,2014,Saturday,2014,Time Warner Cable Arena,Charlotte,North Carolina,17100,19100,382,The Brooklyn Nets ( 10 - 12 ) defeated the Cha...
16,1,December,2014,Monday,2014,EnergySolutions Arena,Salt Lake City,Utah,16800,18300,419,The Denver Nuggets ( 9 - 8 ) defeated the Utah...
17,24,November,2014,Monday,2014,American Airlines Center,Dallas,Texas,19800,19200,623,The Indiana Pacers ( 6 - 8 ) defeated the Dall...
18,29,October,2014,Wednesday,2014,American Airlines Arena,Miami,Florida,19700,19600,329,The Miami Heat ( 10 ) defeated the Washington ...
19,17,December,2014,Wednesday,2014,Palace of Auburn Hills,Detroit,Michigan,12300,22100,834,The Dallas Mavericks ( 19 - 8 ) went on the ro...
20,29,October,2014,Wednesday,2014,TD Garden,Boston,Massachusetts,18600,18600,165,The Boston Celtics ( 10 ) defeated the Brookly...
21,15,December,2014,Monday,2014,Staples Center,Los Angeles,California,19100,19000,217,The Los Angeles Clippers ( 17 - 7 ) defeated t...
22,27,December,2014,Saturday,2014,American Airlines Arena,Miami,Florida,19700,19600,345,The Memphis Grizzlies ( 22 - 8 ) defeated the ...
23,22,November,2014,Saturday,2014,Amway Center,Orlando,Florida,18800,18800,580,The Miami Heat ( 7 - 6 ) took down the Orlando...
24,10,December,2014,Wednesday,2014,Target Center,Minneapolis,Minnesota,10300,19000,1077,The Minnesota Timberwolves ( 5 - 16 ) defeated...
25,26,November,2014,Wednesday,2014,US Airways Center,Phoenix,Arizona,16100,18100,992,The Phoenix Suns ( 10 - 6 ) defeated the Denve...
26,29,October,2014,Wednesday,2014,Air Canada Centre,Toronto,Ontario,19800,19800,862,The Toronto Raptors defeated the Atlanta Hawks...
27,24,November,2014,Monday,2014,EnergySolutions Arena,Salt Lake City,Utah,18900,18300,417,The Chicago Bulls ( 9 - 5 ) defeated the Utah ...
28,5,December,2014,Friday,2014,EnergySolutions Arena,Salt Lake City,Utah,19000,18300,421,The Orlando Magic ( 8 - 14 ) defeated the Utah...
29,17,November,2014,Monday,2014,TD Garden,Boston,Massachusetts,16700,18600,170,The Phoenix Suns ( 6 - 5 ) defeated the Boston...

In [30]:
test.shape

(30, 12)

In [69]:
# Get the unique years from the 'year' column
unique_years = df['year'].unique()

# Loop over each unique year
for year in unique_years:
    # Filter the DataFrame for the current year
    df_year = df[df['year'] == year]
    
    # Check if there are at least 30 rows to sample, skip if not
    if len(df_year) >= 60:
        # Randomly sample 30 rows
        sample = df_year.sample(30)

        # Create a CSV file for each sampled subset
        file_name = f"sportset_year_{year}_60_34.csv"
        sample.to_csv(file_name, index=False)

        print(f"CSV file created for year {year}: {file_name}")

        # Remove the sampled rows from the original DataFrame
        df = df.drop(sample.index)

CSV file created for year 2015: sportset_year_2015_60_34.csv
CSV file created for year 2016: sportset_year_2016_60_34.csv
CSV file created for year 2017: sportset_year_2017_60_34.csv
CSV file created for year 2018: sportset_year_2018_60_34.csv

In [59]:
df.shape

(2130, 12)

### Finding other markers for splitting

In [70]:
df = pd.read_csv("D:\LLMTables\Sportset\sportset_combined.csv")

In [71]:
df.shape

(6150, 12)

In [72]:
unique_states = df['state'].unique()

In [73]:
unique_states

array(['Pennsylvania', 'Wisconsin', 'England', 'Illinois', 'Ohio',
       'Massachusetts', 'California', 'Tennessee', 'Georgia', 'Florida',
       'North Carolina', 'Utah', 'New York', 'Texas', 'Colorado',
       'Indiana', 'Louisiana', 'Michigan', 'Ontario', 'Arizona',
       'Oklahoma', 'Minnesota', 'Oregon', 'Washington', 'Mexico'],
      dtype=object)

In [74]:
df['stadium'].unique()

array(['Wells Fargo Center', 'BMO Harris Bradley Center', 'The O2 Arena',
       'United Center', 'Quicken Loans Arena', 'TD Garden',
       'Staples Center', 'FedExForum', 'Philips Arena',
       'American Airlines Arena', 'Time Warner Cable Arena',
       'EnergySolutions Arena', 'Barclays Center', 'Sleep Train Arena',
       'Madison Square Garden', 'Amway Center',
       'American Airlines Center', 'Pepsi Center',
       'Bankers Life Fieldhouse', 'Smoothie King Center',
       'Palace of Auburn Hills', 'Air Canada Centre', 'Toyota Center',
       'AT&T Center', 'US Airways Center', 'Chesapeake Energy Arena',
       'Target Center', 'Moda Center', 'Oracle Arena', 'Verizon Center',
       'Vivint Smart Home Arena', 'Mexico City Arena',
       'CenturyLink Center', 'Talking Stick Resort Arena',
       'Spectrum Center', 'Golden 1 Center', 'Fiserv Forum',
       'State Farm Arena', 'Little Caesars Arena', 'Scotiabank Arena',
       'Capital One Arena', 'UW–Milwaukee Panther Arena'], dtype=object)